.modalDiv {
	position: fixed;
	z-index: 9;
	top: 2rem;
	left: 0;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: rgb(0, 0, 0);
	border-radius: 0.5rem;
	padding: 0.5rem;
	animation: fadeIn 1s ease;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.418);
}
@keyframes fadeIn {
	from {
		transform: translate(-100%);
		opacity: 0;
	}
}
