.mainIndex {
	flex: auto;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 100vh;
	animation: mainIndex 0.8s ease-in-out;
	transition: opacity 0.8s ease-in-out;

	.h2Slider {
		padding-top: 0.5rem;
		margin-left: 1rem;
		font-size: 18px;
	}
}
@keyframes mainIndex {
	from {
		opacity: 0;
	}
}
