.mainIndex {
	flex: auto;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 100vh;
	animation: mainIndex 0.8s ease-in-out;
	transition: opacity 0.8s ease-in-out;

	.divHero {
		position: relative;
		display: flex;
		width: 100%;
		height: 80vh;
		font-family: Netflix Sans;
		color: #fff;
		text-decoration: none;
		.imgdivHero {
			display: flex;
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: absolute;
			background-position: center;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			aspect-ratio: 16/9;
			font-family: Netflix Sans;
			color: #fff;
			text-decoration: none;
			overflow: hidden;
		}
		.titleHero {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 0.5rem;
			height: fit-content;
			align-self: flex-end;
			width: fit-content;
			margin: 0 auto;
			z-index: 2;
			padding: 0 0.5rem;
			h2 {
				font-size: 18px;
				letter-spacing: 1px;
				text-shadow: 0px 0px 5px black, 0px 0px 5px black;
			}
			.Reproducir,
			.MiLista {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				width: 40%;
				width: 200px;
				border-radius: 0.2rem;
				border: none;
				font-size: 16px;
				background-color: #f0f8ff;
				font-weight: bold;
				color: #000;
				text-decoration: none;
				padding: 0.3rem 0;
				transition: all 0.5s ease;
				font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
					sans-serif;
				letter-spacing: 1px;
				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
				&:hover {
					color: #fff;
					background-color: #afafaf;
				}
			}
			.MiLista {
				background-color: #838383bd;
				color: #fff;
				margin-bottom: 1rem;
				&:hover {
					background-color: #f0f8ff;
					color: #000;
				}
			}
		}

		.fechaHero {
			position: absolute;
			bottom: 0.5rem;
			display: flex;
			flex-direction: column;
			font-size: 16px;
			align-items: center;
			z-index: 2;
			padding: 0.5rem;
		}
		.valoracionesHero {
			bottom: 0.5rem;
			position: absolute;
			right: 0;
			display: flex;
			flex-direction: column;
			font-size: 16px;
			padding: 0.5rem;
		}
	}

	.h2Slider {
		padding-top: 0.5rem;
		margin-left: 1rem;
		font-size: 18px;
	}
}
@keyframes mainIndex {
	from {
		opacity: 0;
	}
}
@media (max-width: 768px) {
	.mainIndex {
		.divHero {
			background-position: center;
			height: 50vh;
			background-size: 150% 100%;
			.titleHero {
				font-size: 16px;
			}
			.fechaHero {
				font-size: 14px;
			}
			.valoracionesHero {
				font-size: 14px;
			}
		}
	}
}
