header {
	position: fixed;
	width: 100%;
	padding: 0.5rem 0rem;
	z-index: 3;
	background-image: linear-gradient(
		0deg,
		rgb(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.7)
	);

	.hidden {
		position: absolute;
		top: -100vh;
		z-index: -1;
		opacity: 0;
	}
	.NavBar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		width: 100%;
		.divNavbar {
			width: 90%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.ImgNavbar {
				object-fit: cover;
				width: 120px;
				height: 34px;
			}
			.ulNavbarIcons {
				display: flex;
				justify-content: flex-end;
				gap: 0.5rem;
				align-items: center;
				flex: auto;
				.userIcon {
					width: 1.5rem;
					height: 1.5rem;
					cursor: pointer;
					color: white;
					&:hover {
						color: #ff0000;
						cursor: pointer;
						width: 1.5rem;
						height: 1.5rem;
						transition: all 1s ease;
					}
				}
				.liNavbar {
					a {
						color: white;
						transition: all 1s ease;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
							transform: scale(1.1);
						}
						.liIcon {
							width: 1.5rem;
							height: 1.5rem;
							cursor: pointer;
							color: white;
						}
						.liLinksActive {
							cursor: pointer;
							color: rgb(243, 72, 72);
							width: 1.5rem;
							height: 1.5rem;
							transition: all 1s ease;
						}
					}
				}
			}
		}
		.ulNavbarLinks {
			height: 2rem;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: space-evenly;
			.liLinks,
			.liLinksCategorias {
				display: flex;
				align-items: center;
				font-size: 16px;
				color: white;
				text-decoration: none;
				transition: all 1s ease;
				animation: opacityLink 1s ease;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
				a {
					font-size: 16px;
					color: white;
					text-decoration: none;
				}
			}
			.liLinksActive {
				display: flex;
				align-items: center;
				font-size: 16px;
				width: 90%;
				text-align: left;
				color: white;
				text-decoration: none;
				transition: all 0.5s ease;
				animation: opacityLinkActive 1s ease forwards;
				opacity: 0;
				transform: translate(150px);
				cursor: pointer;
				a {
					font-size: 16px;
					color: white;
					text-decoration: none;
				}
			}

			.btnCerrar {
				position: absolute;
				left: 1rem;
				top: 0.3rem;
				cursor: pointer;
				color: #fff;
				z-index: 1;
				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}

@keyframes opacityLinkActive {
	to {
		opacity: 1;
		transform: translate(50px);
	}
}
@keyframes opacityLink {
	from {
		opacity: 0;
	}
}
@media (min-width: 768px) {
	.liSearchIcon,
	.liHomeIcon {
		transform: scale(1.2);
	}

	.ulNavbarLinks {
		font-size: 18px;
	}
}
