header {
	position: absolute;
	width: 100%;
	padding: 0.5rem;
	z-index: 3;
	.NavBar {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		width: 100%;

		.divNavbar {
			display: flex;
			justify-content: space-between;
			gap: 0.5rem;
			width: 100%;
			.ImgNavbar {
				object-fit: cover;
				width: 120px;
				height: 34px;
				align-self: flex-start;
			}
			.ulNavbarIcons {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				flex: auto;
				.liNavbar {
					.liSearchIcon,
					.liHomeIcon {
						width: 1.5rem;
						height: 1.5rem;
						margin-right: 1rem;
						cursor: pointer;
						color: white;
					}
					.liLinksActive {
						cursor: pointer;
						color: rgb(243, 72, 72);
						width: 1.5rem;
						height: 1.5rem;
						transition: all 1s ease-in-out;
						margin-right: 1rem;
					}
				}
			}
		}
		.ulNavbarLinks {
			height: 2rem;
			width: 100%;
			position: relative;
			display: flex;
			.liLinks,
			.liLinksCategorias {
				flex: auto;
				font-size: 16px;
				width: 100%;
				text-align: center;
				color: white;
				text-decoration: none;
				transition: all 0.5s ease-in-out;
				cursor: pointer;
			}
			.liLinksActive {
				flex: auto;
				font-size: 16px;
				width: 100%;
				padding-left: 4rem;
				color: white;
				text-decoration: none;
				transition: all 0.5s ease-in-out;
				cursor: pointer;
				animation: opacityLink 1s ease-in-out;
			}

			.btnCerrar {
				position: absolute;
				left: 1rem;
				top: 0;
				cursor: pointer;
				color: #fff;
				z-index: 3;
				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}

.hidden {
	opacity: 0;
	z-index: -1;
	position: fixed;
	top: -100%;
}
@keyframes opacityLink {
	from {
		opacity: 0.3;
	}
}
@media (min-width: 768px) {
	.liSearchIcon,
	.liHomeIcon {
		transform: scale(1.2);
	}

	.ulNavbarLinks {
		font-size: 18px;
	}
}
