.divNfLoader {
	position: absolute;
	height: 100%;
	width: 100%;
	max-height: 100vh;
	z-index: 10;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.nfLoader {
		width: 50px;
		height: 50px;
	}
	.nfLoader:after {
		content: '';
		background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
		background-repeat: no-repeat;
		background-position-x: 50%;
		background-position-y: 50%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		position: absolute;
		margin: -6px;
		width: inherit;
		height: inherit;
		animation: nfLoader-spin 1.1s linear infinite;
		-webkit-animation: nfLoader-spin 1.1s linear infinite;
	}
}
.logoLoading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(0%);
	z-index: 9;
	animation: logoLoading 2.2s ease forwards;
	img {
		animation: logo 2s ease forwards;
		transition: all 0.3s ease;
	}
}
@keyframes logoLoading {
	95% {
		transform: translate(0%);
	}
	100% {
		display: none;
		transform: translate(100%);
	}
}
@keyframes logo {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes nfLoader-spin {
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes nfLoader-spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
