.divFullInfo {
	position: relative;
	color: #000;
	text-align: center;
	min-height: 100vh;
	width: 100%;
	z-index: 3;
	overflow: auto;
	scroll-behavior: smooth;
	background-color: #000;
	animation: mainIndex 0.8s ease-in-out;
	transition: opacity 0.8s ease-in-out;
	display: flex;
	flex-direction: column;
	font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
		sans-serif;
	&::-webkit-scrollbar {
		height: 0rem;
		width: 0rem;
	}

	.btnCerrar {
		position: absolute;
		left: 0.5rem;
		top: 0.5rem;
		border: none;
		background-color: transparent;
		transition: transform 0.3s linear;
		cursor: pointer;
		z-index: 2;
		svg {
			color: white;
			width: 2rem;
			height: 2rem;
		}
		&:hover {
			transform: scale(1.1);
		}
	}
}
