* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body,
html {
	background-color: #000;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font-family: Netflix Sans, Segoe UI, sans-serif;
	&::-webkit-scrollbar {
		height: 0rem;
		width: 0rem;
	}
}

#root {
	display: flex;
	position: relative;
}
@font-face {
	font-family: Netflix Sans;
	src: url('/assets/netflix-sans-font/NetflixSans-Regular.woff2')
		format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
