.created_byFullInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: white;
	margin: 2rem 0;
	li {
		width: 100%;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.imgCreador {
			border-radius: 0.5rem;
			width: 90px;
			height: auto;
			object-fit: cover;
		}
	}
}
