.sliderDiv {
	width: 100vw;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	overflow: auto;
	padding-top: 1rem;
	position: relative;
	.divsliderDiv {
		display: flex;
		width: 00px;
		height: auto;
	}
	&::-webkit-scrollbar {
		height: 0.7rem;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: #ff0000;
		border-radius: 0.5rem;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
@media (max-width: 768px) {
	.sliderDiv {
		&::-webkit-scrollbar {
			height: 0rem;
		}
	}
}
