.generosFullInfo {
	max-width: 900px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	border-top: 1px solid #eeeeee4d;
	color: white;
	margin: 0.5rem auto;

	li {
		flex: auto;
		text-align: center;
	}
}
